.page {
  transform-origin: center;
  background-color: var(--WHITE);
  box-shadow: 5px 5px 15px 0px #00000030;
  overflow: hidden;
  width: 21cm;
  height: 29.7cm;
  min-width: 21cm;
  min-height: 29.7cm;
  transform: scale(0.6) translate(-25%, 0);
  cursor: pointer;
}
.page .bg {
  opacity: 0.15;
}
.page .content {
  left: 0;
  top: 0;
  padding: 0 24px;
}
.page .page-no {
  right: 10px;
  bottom: 10px;
}
.page .page-no p {
  font-size: 10px;
}

.page.on {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10;
  transform: translate(-50%, -50%) scale(0.75);
  cursor: default;
}